.contents
  .contents__hader
    .contents__hader--box
      プロフィール　経歴
  .contents__box
    .contents__box--one
      .contents__box--one--text
        %p
          <span>タナカ　シュウタ</span>
        田中　秀太
        %br
        %br
        %br
        %br
        %br
        %p
          職歴
        %br
        %br
        %br
        %p
          趣味
        %br
        %br
        %br
        %p
          属してるグループ
    .contents__box--two
      .contents__box--two--text
        <a href="https://twitter.com/D_noheya?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @D_noheya</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        %br
        = image_tag "bg/hon6.jpg",width: "200",height:"200"
        %br
        %br
        ２００７年４月　どらっぐぱぱす入社
        %br
        ２０１２年１１月当時最年少で店長へ昇格
        %br
        ２０１３年医薬品販売コンクール
        %br
        達成率全店１位で表彰される
        %br
        ２０１６年社内販売コンクール
        達成率半年連続１位で表彰される
        %br
        %br
        %br
        自己啓発系You Tubeを見る
        %br
        読書
        %br
        音楽鑑賞
        %br
        %br
        %br
        練馬区倫理法人会
        %br
        運営委員
    .contents__box--three
      = image_tag "bg/hon6.jpg",width: "200",height:"200", class:"hon"
      %br
      %br
      %br
      = image_tag "bg/hon6.jpg",width: "200",height:"200", class:"hon"
      %br
      %br
      %br
      = image_tag "bg/hon6.jpg",width: "200",height:"200", class:"hon"