.new
  .new__header
    登録完了ありがとうございます
  .new__touroku
    登録情報の変更はこちら
    .new__touroku--box
      .new__touroku--one
      =link_to "#",class:"btn" do
        確認
      .new__touroku--two
      =link_to "#",class:"btn" do
        変更
  .new__footer
    =link_to root_path,class:"btn3" do
      トップページに戻る